<div class="message-body myCommentBody">
      <article class="message is-dark">
  <div class="message-header comments">
    <h1>{{user.user_name}}</h1>
    
  </div>
  <div class="message-body commentBody">
    {{comment_body}}
  </div>
</article>
  </div>