
<article class="message myMessage">
    <a id="stories-story" href="/story/{{id}}">
  <div class="message-header">
    <p id="story-username">{{user.user_name}}</p>
    
    {{!-- <button class="delete" aria-label="delete"></button> --}}
    </div>
  <div class="message-body" id="myMessageBody">
      <h2><strong>{{title}}</strong></h2>
      <p class="summary-txt">
   {{summary}}
    </p>
  </div>
  </a>
</article>
