{{!-- story cards generated on profile page with info from database --}}
<article class="message myMessage">
    <a id="stories-story" href="/story/{{id}}">
  <div class="message-header">
    <p id="story-username"><div class = "storyTitle">
              {{title}}
          </div></p>
    </div>
  <div class="message-body" id="myMessageBody">
      
      <p class="summary-txt">
   {{summary}}
    </p>
  </div>
  </a>
</article>