<section class="hero myBackground is-fullheight">
    <!-- Hero head: will stick at the top -->
    <div class="hero-head">
      <header class="navbar">
        <div class="container">
          <div class="navbar-brand">
            <h1 class = "logo">OnlyFanFics</h1>
            <span class="navbar-burger" data-target="navbarMenuHeroC">
              <span></span>
              <span></span>
              <span></span>
            </span>
          </div>
          <div id="navbarMenuHeroC" class="navbar-menu">
            <div class="navbar-end">
                <div class="navbar-item">
                  <div class="buttons">
                    <a class="button is-info is-light" href = "signup.html">
                      SIGN UP
                    </a>
                    <a class="button is-info is-light">
                      LOG IN
                    </a>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </header>
    </div>
  
    <!-- Hero content: will be in the middle -->
    <div class="hero-body">
      <div class="container has-text-centered myBigText">
       We power your <br><strong class = "focalText">FAN FICTION.</strong>
      </div>
    </div>

    <div class = "mainButtons">
    <a class="button is-rounded mainButton">Write Story</a>
    <a class="button is-rounded mainButton">Browse Stories</a>
    </div>
</section>