<section>
        <nav class="navbar myOtherNav" id = "navId" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
             <h1 class ="myLogo">OnlyFanFics</h1>
              <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
              </a>
            </div>
            <div id="navbarBasicExample" class="navbar-menu">
              <div class="navbar-start">
                <a class="navbar-item">
                  Home
                </a>
                <a class="navbar-item">
                  View Stories
                </a>
                <div class="navbar-item has-dropdown is-hoverable">
                  <a class="navbar-link">
                    More
                  </a>
                  <div class="navbar-dropdown">
                    <a class="navbar-item">
                      Write Story
                    </a>
                    <a class="navbar-item">
                      something
                    </a>
                    <a class="navbar-item">
                      something
                    </a>
                    <hr class="navbar-divider">
                    <a class="navbar-item" id="logout">
                      Log Out
                    </a>
                  </div>
                </div>
              </div>
              <div class="navbar-end">
                <div class="navbar-item">
                  <div class="buttons">
                    <a class ="button is-light" id = "toggle">
                        Toggle Background
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </nav>
          <section class="hero is-medium" id = "background">
            <div class = "profilePhoto">
                Profile Photo
            </div>
         </section>
         <div class = "userInfo">
            <h1 class = "userNameProfile">Username: </h1>
            <div>
            <p>Number of Posts: </p>
            </div>
         </div>
         <div id = "profileStory">
            'Hi my name is Ebony Dark’ness Dementia Raven Way and I have long ebony black hair
            (that’s how I got my name) with purple streaks and red tips that reaches my mid-back and
            icy blue eyes like limpid tears and a lot of people tell me I look like Amy Lee (AN: if u
            don’t know who she is get da hell out of here!). I’m not related to Gerard Way but I wish I
            was because he’s a major ******* hottie. I’m a vampire but my teeth are straight and white.
            I have pale white skin. I’m also a witch, and I go to a magic school called Hogwarts in
            England where I’m in the seventh year (I’m seventeen). I’m a goth (in case you couldn’t tell)
            nd I wear mostly black. I love Hot Topic and I buy all my clothes from there. For example today
            I was wearing a black corset with matching lace around it and a black leather miniskirt, pink
            fishnets and black combat boots. I was wearing black lipstick, white foundation, black eyeliner
            and red eye shadow. I was walking outside Hogwarts. It was snowing and raining so there was no
            sun, which I was very happy about. A lot of preps stared at me. I put up my middle finger at them.'
      </div>
    </section>
    <script src="/js/logout.js"></script>