<section id = "background">
    <nav class="navbar myNav" id = "navId" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
         <h1 class ="myLogo">OnlyFanFics</h1>
      
          <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>
      
        <div id="navbarBasicExample" class="navbar-menu">
          <div class="navbar-start">
            <a class="navbar-item" href="/">
              Home
            </a>
      
            <a class="navbar-item" href="/stories">
              View Stories
            </a>
            </div>
          </div>
      
          <div class="navbar-end">
            <div class="navbar-item">
              <div class="buttons">
                 <a class="button is-dark" id="myNewStory" href="/writestory"><span id="plus">&#43;</span> New Story</a>
                <a class="button is-light" id="logout">
                  Log Out
                </a>
                <a class ="button is-light" id = "toggle">
                    Toggle Background
                </a>
              </div>
            </div>
          </div>
        </div>
      </nav>



        
          <section class="hero is-medium" id = "background">
            <div class = "profilePhoto">
                <img id = "profileImg" src = "https://i.pinimg.com/564x/3d/fd/d3/3dfdd3cce72f6d62c17d4fa2c595d6c9.jpg" >
            </div>
         </section>
         <div class = "userInfo">
            <h1 class = "userNameProfile">Username: <strong>{{user_name}}</strong></h1>
            <div>
             <a class="button is-dark" id = "toggleProfile">Profile Pic</a>
            </div>
         </div>
<div class="story-container myStoryContainer">
  {{#each stories as |story|}}
  {{>stories-details}}
  {{/each}}
</div>
    </section>
    <script src="/js/logout.js"></script>
    