<section id = "background">
    <nav class="navbar myNav" id = "navId" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
         <h1 class ="myLogo">OnlyFanFics</h1>
      
          <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>
      
        <div id="navbarBasicExample" class="navbar-menu" href="/">
          <div class="navbar-start">
            <a class="navbar-item" href="/">
              Home
            </a>
      
            <a class="navbar-item" href="/stories">
              View Stories
            </a>
            <a class="navbar-item" href="/profile">
              My Profile
            </a>
            </div>
          </div>
      
          <div class="navbar-end">
            <div class="navbar-item">
              <div class="buttons">
                <a class="button is-light" href="/logout">
                  Log Out
                </a>
                <a class ="button is-light" id = "toggle">
                    Toggle Background
                </a>
              </div>
            </div>
          </div>
        </div>
      </nav>
      </section>

           <article class="message" id="message-story">
  <div class="message-header">
    <p id="story-username"><div class = "storyTitle">
              {{title}}
          </div></p>
    {{!-- <button class="delete" aria-label="delete"></button> --}}
    </div>
  <div class="message-body" id="myMessageBody">
      
     <div id = "centerStory">
                {{story_content}}
                <p>by <strong>{{user.user_name}}</strong></p>
          </div>
  </div>

  <div class="comment-container">
    {{#each comments as |comment|}}
    {{>comments-details}}
    {{/each}}
  </div>
 
           
          <section class = "commentInput">
            <p>
                Leave a Comment
            </p>
            <div class = "textInput">
                
                <form class="comment-form">
                <input id="comment-body" class="textarea" placeholder="e.g. Wow what a great story!!! =-)">
                <button class="button is-dark submit-button" type="submit">Submit</button>
                </form>
            </div>
  </div>
          </section>
  </article>
  
<script src="/js/writeComment.js"></script>
     
