{{!-- navbar --}}
<section id = "background">
    <nav class="navbar myNav" id = "navId" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
         <h1 class ="myLogo">OnlyFanFics</h1>
      
          <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>
      
        <div id="navbarBasicExample" class="navbar-menu">
          <div class="navbar-start">
            <a class="navbar-item" href="/">
              Home
            </a>
      
            <a class="navbar-item" href="/stories">
              View Stories
            </a>
            <a class="navbar-item" href="/profile">
              My Profile
            </a>
            </div>
          </div>
      
          <div class="navbar-end">
            <div class="navbar-item">
              <div class="buttons">
                <a class="button is-light" href="/api/logout">
                  Log Out
                </a>
                <a class ="button is-light" id = "toggle">
                    Toggle Background
                </a>
              </div>
            </div>
          </div>
        </div>
      </nav>
      <div class="newStory">
      <div>
        {{!-- body --}}
    <h1 class = "largeField myHeader">New Story</h1>
</div>
<form class="story-form">
<div>
<textarea class="textarea myTextarea" id="story-title" placeholder="Give your story a title" rows="1"></textarea>
</div>
<div>
<textarea class="textarea myTextarea" id="story-summary" placeholder="Summarize your story" rows="3"></textarea>
</div>
<div>
<textarea class="textarea myTextarea" id="story-content" placeholder="Tell your story" rows="10"></textarea>
</div>
<div class="field" id = "writeStory">
  <p class="control">
    <button class="button is-success" id="login-submit">
     <strong>Post</strong>
    </button>
  </p>
</div>
      </div>
</form>
<script src="/js/writeStory.js"></script>