body {
    font-family: 'Cinzel Decorative', cursive;
}

.sign_in {
    font-weight: bolder;
    font-size: 50px;
}
.newStory {
    display: flex;
    flex-direction: column;
    justify-content:left;
    margin: 10%;
}
.smallField {
  margin-right: 20%;
  margin-left: 20%;
}

.largeField {
    font-size: 4em;
    text-align: center;
}

.myHeader {
  margin-bottom: 3%;
  font-weight: bold;
  letter-spacing: 0.2em;
}

.myNav {
  margin-bottom: 5%;
}

.myLogo {
  display: flex;
  align-items: center;
  font-weight: bold;
  letter-spacing: 0.2em;
}

.darkMode {
  background: #646669;
}
.myTextarea {
    margin-bottom: 10px;
}