html {
  height: 100%;
}
body {
  font-family: "Cinzel Decorative", cursive;
  min-height: 100%;
}

.sign_in {
  font-weight: bolder;
  font-size: 50px;
}
.newStory {
  display: flex;
  flex-direction: column;
  justify-content: left;
  margin: 10%;
}
.smallField {
  margin-right: 20%;
  margin-left: 20%;
}

.largeField {
  font-size: 4em;
  text-align: center;
}

.myHeader {
  margin-bottom: 3%;
  font-weight: bolder;
  letter-spacing: 0.2em;
  background-color: rgba(182, 174, 174, 0.8);
  color: #fcf4eb;
  border: 1px solid rgba(182, 174, 174, 0.8);
  border-radius: 1em;
  text-align: center;
}

.myNav {
  margin-bottom: 5%;
  padding-left: 7px;
}

.myLogo {
  display: flex;
  align-items: center;
  font-weight: bold;
  letter-spacing: 0.2em;
}

.myTextarea {
  margin-bottom: 10px;
}



.darkMode {
  background: #646669;
}

.myBigText {
  font-size: xx-large;
  color: #d8e2ed;
  font-family: "Caveat", cursive;
}

.focalText {
  font-size: 5rem;
  color: #d8e2ed;
  font-family: "Caveat", cursive;
  letter-spacing: 0.1em;
}

.mainButtons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainButton {
  margin-left: 2.5em;
  margin-right: 2.5em;
  margin-bottom: 10em;
  margin-top: 1em;
  background: #d8e2ed;
  color: #484649;
}
.mainButton:hover {
  background: #32197f;
  border-color: #32197f;
  color: #d8e2ed;
  font-weight: bold;
}
.logo {
  font-size: xx-large;
  color: #d8e2ed;
  font-family: "Caveat", cursive;
}
.hero-body {
  padding-bottom: 0;
}

.myBackground {
  background: url(/img/purple\ clouds.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.myStoryContainer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.myMessage {
  width: 30%;
  height: 12em;
  margin: 5%;
}

.myOtherNav {
  margin-bottom: 0;
}

.profilePhoto {
  /* background: linear-gradient(
    to bottom right,
    #b8b8b8,
    #8c8c8c,
    #adadad,
    #2e2e2e
  ); */
  border: solid 5px
    linear-gradient(to bottom right, #b8b8b8, #8c8c8c, #adadad, #2e2e2e);
  border-radius: 50%;
  width: 20%;
  height: 14em;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
  margin-top: 0;
  transform: translateY(50%);
  color: black;
  font-weight: bold;
}

#profileImg {
  border-radius: 50%;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

#toggleProfile {
  margin-top: 3%;
  margin-left: 21%;
}

.heroText p {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}

.subtitle {
  color: black;
}

.userInfo {
  background: lightgray;
  color: black;
  left: 0;
  height: 7em;
}

.userInfo h1 {
  margin-left: 21%;
}

#profileStory {
  margin-right: 10%;
  margin-left: 10%;
  padding: 3em;
  background: lightgrey;
  border: solid 5px lightgrey;
  border-radius: 1em;
  margin-top: 5%;
}
.comments {
  background-color: rgba(182, 174, 174, 0.8);
}
.commentBody {
  background-color: #8c928a;
  color: azure;
}
#stories-story {
  text-decoration: none;
}
.commentInput {
  margin: 10px;
}
#message-story {
  padding-bottom: 15px;
  margin-bottom: 4em;
  max-width: 80%;
  margin: auto;
}
.myButton {
  margin-left: 3em;
}
#plus {
  font-size: 2em;
  margin-left: -5px;
  margin-right: 5px;
}
.submit-button {
  margin-top: 5px;
  margin-bottom: -10px;
}
.myCommentBody {
  width: fit-content;
}

#writeStory {
  margin-bottom: 3em;
}

/* CHAT STUFF AFTER THIS LINE */

#ficto-chat {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 400px;
}

#chat-form {
  width: 90%;
}

#chat-box {
  border: 1px solid black;
  height: 300px;
  overflow-y: scroll;
}

.chat-labels {
  padding-right: 10px;
}

.chat-inputs {
  height: 1.5rem;
  padding: none;
}

.chat-buttons {
  width: 70px;
  color: white;
  background-color: black;
  border: none;
  height: 1.85rem;
}
#centerStory {
  border-bottom: #484649;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  padding-bottom: 5px;
}
#login-submit {
  font-family: "Cinzel Decorative", cursive;
  font-weight: 700;
}
